<h2>Statistics on your sample :</h2>


    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">{{ statistics$[0].total_number_of_images }}</span>
        Total Number of Images:
      </li>
      <li class="list-group-item">
        <span class="badge">{{ statistics$[0].default_percentage }}</span>
        default_percentage:
      </li>
      <li class="list-group-item">
        <span class="badge">{{ statistics$[0].average_default_surface }}</span>
        average_default_surface:
      </li>
    </ul>
